$color_1: #ffffff;
$color_2: #1b1734;
$font-family_1: Verdana, Geneva, Tahoma, sans-serif;
$background-color_1: transparent;

/* Hide scrollbar for Chrome, Safari and Opera */
/* Hide scrollbar for IE, Edge and Firefox */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
svg {
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.scrollElement {
  position: absolute;
  height: 6000px;
  width: 100px;
  top: 0;
  z-index: 0;
}
.btn {
  position: fixed;
  bottom: 5%;
  right: 0px;
  transform: translateX(-50%);
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 0.5rem 0.7em;
  background-color: $background-color_1;
  color: $color_1;
  font-family: $font-family_1;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 11;
  &:hover {
    background: #ffffff;
    color: $color_2;
  }
}
.btn_works {
  left: 100px;
  right: unset;
  text-decoration: none;
}
